name: Main pipeline

on:
  push:
    branches: [main]

jobs:
  run_tests:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Install client and server dependencies
        run: npm install && cd client && npm install
      - name: Lint all files
        run: npm run lint && cd client && npm run eslint
      - name: Create build
        run: cd client && npm run build
      - name: Run tests
        run: npm run test && cd client && npm run test
      # - name: Run end-to-end tests with Cypress
      #   run: cd client && cypress run
